@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=2272F1CE-6A97-44B6-BBE2-D8D8AFC95B60

registry=https://npm.pkg.github.com/lsbdatawefeelit
//npm.pkg.github.com/:_authToken=2799a7d7830eaa9f3c7f880c06ad49e0723eb468

