html,
body {
  font-family: 'Montserrat' !important;
  margin:0px;
  font-size: 100%;
}


.h1 {
  font-size: $h1size;
  line-height: 1;
  letter-spacing: 4px;

}

.h2 {
  font-size: $h2size;
  line-height: 1.1;
  font-weight:$bold;
}

.h3 {
  font-size: $h3size;
  line-height: 1.25;
  font-weight:$bold
}

.h4 {
  font-size: $h4size;
  line-height: 1.3;
}

.h5 {
  font-size: $h5size;
  line-height: 1.5;
}
p.paragraph-intro{
  font-size:1.25rem;
  font-weight:$medium;
  line-height:1.8;
}
p.paragraph-1 {
font-size: 1.25rem;
  line-height:1.8;


}
p.paragraph-2 {
  font-size: 1.125rem;
  line-height:1.55;

}
p.paragraph-3 {
  font-size: 1rem;
  line-height:1.55;

  &.h-line{
    position:relative;
    display:inline-block;
    &:after{
    content: '';
      position:absolute;
      bottom:-1px;
      width:100%;
      height:2px;
      left:0px;
      background-color:$primary;
    }
  }

}

//pomocniczne
.white{
  color: $white;
}
.uppercase{
  text-transform: uppercase;
}
@import './buttons';
